@page
@model ListaEmpleados.Pages.Empleados.EditarEmpleado
@{
    ViewData["Title"] = "EditarEmpleado";
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-4">
        <h2 class="text-center mb-5" >Editar Empleado</h2>

        <form method="post">

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" asp-for="Id" type="text"/>
                    <span asp-validation-for="Id" class="text-danger"> </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Nombre</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Nombre"/>
                    <span asp-validation-for="Nombre" class="text-danger"> </span>
                </div>
            </div>
            
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Apellido</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Apellido"/>
                    <span asp-validation-for="Apellido" class="text-danger"> </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="CorreoElectronico"/>
                    <span asp-validation-for="CorreoElectronico" class="text-danger"> </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Puesto</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Puesto"/>
                    <span asp-validation-for="Puesto" class="text-danger"> </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Salario</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Salario"/>
                    <span asp-validation-for="Salario" class="text-danger"> </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Fecha de inicio</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="FechaDeInicio"/>
                    <span asp-validation-for="FechaDeInicio" class="text-danger"> </span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Estado</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="EstadoEmpleo"/>
                    <span asp-validation-for="EstadoEmpleo" class="text-danger"> </span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Subir</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" href="/Empleados/Index" role="button">Cancelar</a>
                </div>

            </div>
            
        </form>
    </div>

</div>